.projectItem {
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease-out;
  border: 2px solid transparent;
  &:hover {
    scale: 1.03;
    border-color: currentColor;
    .cardMenuDots {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.cardMenuDots {
  pointer-events: none;
  opacity: 0;
}

.cardMenuDots:hover {
  background-color: var(--color-slate-200);
  @mixin dark {
    background-color: var(--color-slate-900);
  }
}

.textContent {
  transition: all 0.1s ease-out;
}

.imageContent {
  transition: all 0.1s ease-out;
}